body {
  position: relative;
}

*,
::before,
::after {
  box-sizing: border-box;
}

main {
  padding-top: 60px;
}

img {
  max-width: 100%;
}

// Prevents flickering content with scroll-reveal
html.sr .load-hidden {
  visibility: hidden;
}