.d-block {
  display: block !important;
}

.txt-center {
  text-align: center;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}


.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.overflow-hidden {
  overflow: hidden;
}

.ws-no-wrap {
  white-space: nowrap !important;
}

.fw-700 {
  font-weight: 700 !important;
}