$breakpoints: (
        small: 0,
        small-p: 320px,
        small-l: 480px,
        medium: 768px,
        large: 1024px,
        xlarge: 1200px,
        xxlarge: 1440px,
        xxxlarge: 1900px,
);

@mixin breakpoint($breakpoint) {
  @if $breakpoint == x-small {
    @media screen and (max-width: 320px) {
      @content;
    }
  }

  @if $breakpoint == small {
    @media screen and (min-width: 321px) {
      @content;
    }
  }

  @else if $breakpoint == medium {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == large {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: x-small, small, medium, large";
  }
}