body {
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
}

h1 {
  @include breakpoint(medium) {
    font-size: 3.5rem;
  }
  font-size: 2.5rem;
  margin: 0 0 20px 0;
}

h2 {
  @include breakpoint(medium) {
    font-size: 2.5rem;
  }
  font-size: 2rem;
  margin: 0 0 18px 0;
}

h3 {
  @include breakpoint(medium) {
    font-size: 1.6rem;
  }
  font-size: 1.4rem;
  margin: 0 0 14px 0;
}

h4 {

}

p {
  font-size: 1rem;
  margin: 0 0 10px 0;
}

a {
  color: $brand;
  .wrapper--alt &,
  .footer & {
    color: $white;
  }
}