.form {
  @include breakpoint(medium) {
    max-width: 80%;
    margin: 0 auto;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.form-input {
  margin: 0 0 20px 0;
  &__label {
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
  }
  &__error {
    margin-top: 5px;
  }
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea,
select {
  background: $white;
  border: 1px solid $black;
  font-size: 1rem;
  margin: 0;
  width: 100%;
  padding: 10px;
  height: 40px;
}

textarea {
  height: 80px;
  resize: vertical;
}