.l-footer {
  padding: 20px;
  color: white;
  background: $shakespeare;
  font-size: 14px;

  a {
    color: white;
    text-decoration: none;
  }

  &__main {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
  }

  &__links {
    flex: 0 1 auto;
    border-right: 2px solid white;
    padding-right: 20px;
    margin-right: 20px;
  }

  &__link {
    display: block;
    margin: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    flex: 1 0 0;
  }

  &__social-links {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid white;
  }

  &__social-link {
    font-size: 30px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
        text-decoration: none;
    }

    &--image {
      img {
        position: relative;
        top: 2px;
        height: 27px;
      }
    }
  }

  &__disclaimer {
    margin-top: 30px;
  }
}