.l-wrapper {
  background: white;
  width: 100%;
  padding: 40px 20px;

  &--main {
    @include breakpoint(medium) {
      padding: 100px 20px;
    }
  }

  &--blue {
    background: $shakespeare;

    .l-content h2::after {
      background: white;
    }
    
    &,
    a {
      color: white;
    }
  }

  &--grey {
    background: $grey;
  }
}